@using CSharks.NFEs.Domain.Models;
@model Service;
@{
    List<Service> services = ViewBag.services; 
    ViewData["Title"] = "Shark NFE - Registro Serviço";
}

<section>
    <h1> @ViewData["Title"]</h1>
    <form asp-controller="Service" asp-action="Create" method="post">
         <div class="form-group"> 
            <label asp-for="codigo_item_lista_servico" class="control-label"> Código do Serviço </label>
            <select asp-for="codigo_item_lista_servico" class="form-control">
                @if (services != null && services.Any())
                {
                    foreach (Service service in services)
                    {
                        <option value="@service.codigo_item_lista_servico"> @service.codigo_item_lista_servico</option>
                    }
                }
                else
                {
                    <option> Cadastre um serviço. </option>
                }

            </select>
            <span asp-validation-for="codigo_item_lista_servico" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="descritivo" class="control-label"> Descrição</label>
            <input asp-for="descritivo" class="form-control" disabled/>
            <span asp-validation-for="descritivo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="aliquota_item_lista_servico" class="control-label"> Alíquota (%)</label>
            <input asp-for="aliquota_item_lista_servico" class="form-control" disabled/>
            <span asp-validation-for="aliquota_item_lista_servico" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="situacao_tributaria" class="control-label"> Situação Tributária</label>
            <input type="checkbox" asp-for="situacao_tributaria" class="form-check-input mb-2" checked/>
            <span asp-validation-for="situacao_tributaria" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="valor_tributavel" class="control-label">Valor Tributável</label>
            <input type="number" asp-for="valor_tributavel" class="form-control" />
            <span asp-validation-for="valor_tributavel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="codigo_local_prestacao_servico" class="control-label">Código local prestação de serviço</label>
            <input id="codigo" asp-for="codigo_local_prestacao_servico" class="form-control" disabled/>
            <span asp-validation-for="codigo_local_prestacao_servico" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="tributa_municipio_prestador" class="control-label"> Tributa Município Prestador</label>
            <input type="checkbox" asp-for="tributa_municipio_prestador" class="form-check-input" />
            <span asp-validation-for="tributa_municipio_prestador" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-4">Create</button>
        </div>
    </form>

</section>

@section Scripts {
    <script type="text/javascript">
    </script>
}
