@using CSharks.NFEs.Domain.DTOs;
@model LoginDTO;
@{
    Layout = "_LayoutOff";
    ViewData["Title"] = "Shark NFE - Login";
}

<section>
    <div class="mt-3">
        @await Html.PartialAsync("_MessageResult")
    </div>    
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <h3 class="title-login text-center"> @ViewData["Title"]</h3>
            </div>

            <!-- Login Form -->
            <form asp-action="InputValidate" asp-controller="Login" method="POST">
                <input asp-for="Login" type="text" id="login" class="fadeIn second form-control" name="login" placeholder="login">
                <input asp-for="Password" type="password" id="password" class="fadeIn third form-control" name="password" placeholder="senha">
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                @Html.ValidationMessageFor(x => x.Login)
                <br />
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
