@using CSharks.NFEs.Domain.Models;
@using CSharks.NFEs.Domain.Enums;
@model User
@{

}

<section class="col-8 mx-auto">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nome</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Login" class="control-label">Login</label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Senha</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile" class="control-label">Perfil</label>
            <select asp-for="Profile" class="form-control">
                <option value="@TypeProfile.Admin">Admin</option>
                <option value="@TypeProfile.User">User</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn bg-shark text-white" style="width: 5rem;">Criar</button>
        </div>
    </form>
</section>

@section Scripts {
        <script type="text/javascript">

        </script>
}
