@{
    ViewData["Title"] = "Shark NFE - Home";
}

<section>
    <h3 class="text-center">Bem vindo @TempData["NameUserLogged"]</h3>
    <div class="mt-3">
        @await Html.PartialAsync("_MessageResult")
    </div>
    <h5 class="mt-5 text-lg-start"> 
        Este sistema foi desenvolvido de acordo com as definições estiupuladas através do estudo de regras de negócios que geraram requisitos funcionais e não funcionais 
        disponíveis na documentação do projeto.    
    </h5>
    <div class="border p-4 mt-2">
        <label> <b> Atualização de ISQN - Serviços CNAE</b></label>
        <p class="text-lg-start mt-4"> Os dados a serem importados do excel (planilha) está localizada 'em wwwroot/files considerando a raíz do nosso projeto'. </p>
        <a asp-action="ReadDataAndSave" asp-controller="ExcelHandler" class="btn btn-primary"> Importar ISQN da planila - Excel </a>
        <p class="mt-4"> Caso haja alguma atualização na norma ou atualização de alíquotas, o sistema irá permitir a limpeza dos dados de serviço existentes para nova importação de ISQN.</p>
        <a asp-action="DeleteAllISQNData" asp-controller="ExcelHandler" class="btn btn-secondary"> Limpar os dados salvos através da planilha do ISQN </a>
    </div>
    
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
