@{
    ViewData["Title"] = "Shark NFE - NFEs";
}

<section>
     <h3> Buscar NF </h3>
     <div class="border m-5"> Lorem </div>
     <h3> Notas emitidas </h3>
    <table id="dt-nf" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Data Emissão</th>
                <th>Serviço</th>
                <th>Código</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>03/14/2023</td>
                <td> Programação</td>
                <td>101</td>
                <td>Zsharks System</td>
                <td>R$320,800</td>
                <td style="color: green"> <b> Aprovado </b></td>
                <td> <a id="show-options">  :  </a> <datalist id="options-list">
    <option value="Chocolate">Visualizar</option>
    <option value="Chocolate">Baixar PDF</option>
    <option value="Chocolate">Baixar Xml</option>
    <option value="Chocolate">Enviar por Email</option>
    <option value="Chocolate">Imprimir</option>
    <option value="Chocolate">Cancelar NF</option>
</datalist> </td>
            </tr>
            <tr>
                <td>02/14/2023</td>
                <td> Análise de Sistemas</td>
                <td>104</td>
                <td>ZF ff System</td>
                <td>R$120,800</td>
                <td style="color: red"> <b>Reprovado</b></td>
                <td> <a> : </a></td>
            </tr>
            <tr>
                <td>01/14/2023</td>
                <td> Informática </td>
                <td>106</td>
                <td>Abeira ab System</td>
                <td>R$220,800</td>
                <td style="color: yellow"> <b>Em Andamento </b></td>
                <td> <a> : </a></td>
            </tr>
        </tbody>
    </table>


</section>

@section Scripts {
    <script type="text/javascript">
        var showOptionsLink = document.getElementById("show-options");
        var optionsList = document.getElementById("options-list");
        showOptionsLink.addEventListener("click", function () {
            optionsList.style.display = "block";
        });
    </script>
}
