@{
    ViewData["Title"] = "Shark NFE - NFEs";
}

<section>
    <a class="btn btn-primary" asp-action="EmitNFE" asp-controller="Nfe"> Emitir </a>
</section>

@section Scripts {
    <script type="text/javascript">
        
    </script>
}
