@{
    ViewData["Title"] = "Shark NFE - Dashboard";
}

<section>
    <iframe width="1080" height="760" src="https://app.powerbi.com/view?r=eyJrIjoiMGMyNjI5ZDMtODkwYy00NGRlLWI1ZjktMDI4ZGQ4MjE0MmNjIiwidCI6IjBjMmQyMjJhLWVjZGEtNGI3MC05NjBhLWFjZWY2Y2VkMzA1MiJ9" frameborder="0" allowFullScreen="true">

    </iframe>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
