@{
    ViewData["Title"] = "Shark NFE - Home";
}

<section class="text-center">
    <h3>Bem vindo @TempData["NameUserLogged"]</h3>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
