@{
    ViewData["Title"] = "Shark NFE - NFEs";
}

<section>
    <a class="btn btn-primary" asp-action="NFRegistering" asp-controller="Nfe"> Registrar NF </a>
    <a class="btn btn-primary" asp-action="ListNFE" asp-controller="Nfe"> Listar NFES </a>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
