@{
    ViewData["Title"] = "Shark NFE - NFEs";
}

<section>
    <a class="btn btn-primary" asp-action="ListaRegistering" asp-controller="Nfe"> Registrar Lista </a>
    <a class="btn btn-primary" asp-action="PesquisaRegistering" asp-controller="Nfe"> Registrar Pesquisa </a>
    <a class="btn btn-primary" asp-action="NFRegistering" asp-controller="Nfe"> Registrar NF </a>
    <a class="btn btn-primary" asp-action="TomadorRegistering" asp-controller="Nfe"> Registrar Tomador </a>
    <a class="btn btn-primary" asp-action="PrestadorRegistering" asp-controller="Nfe"> Registrar Prestador </a>
    <a class="btn btn-primary" asp-action="ListNFE" asp-controller="Nfe"> Listar NFES </a>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
