@using CSharks.NFEs.Domain.Models.NF;
@model Tomador
@{
    ViewData["Title"] = "Shark NFE - Registro Tomador";
}

<section>
    <form asp-controller="Nfe" asp-action="CreateTomador" method="post">
        <div class="form-group">
            <label asp-for="cpfcnpj">CPF/CNPJ</label>
            <input asp-for="cpfcnpj" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="tipo">Tipo</label>
            <input asp-for="tipo" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="nome_razao_social">Nome/Razão Social</label>
            <input asp-for="nome_razao_social" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ie">IE</label>
            <input asp-for="ie" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="logradouro">Logradouro</label>
            <input asp-for="logradouro" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="numero_residencia">Número</label>
            <input asp-for="numero_residencia" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="email">Email</label>
            <input asp-for="email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="endereco_informado">Endereço Informado</label>
            <input asp-for="endereco_informado" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
