@{
    ViewData["Title"] = "Shark NFE - Dashboard";
}

<section>
    <iframe width="1080" height="760" src="#" frameborder="0" allowFullScreen="true">

    </iframe>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
