<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Sistema NF - C Sharks </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaSuporte.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
</head>
<body class="d-flex flex-column justify-content-between">
    <!-- Header if you wants!-->
    <section class="p-0 d-flex flex-column justify-content-between">
        <div class="d-flex">
            <div id="sidebar"></div>
            <main id="main" role="main" class="pb-3 mt-5 col-8  m-auto">
                @RenderBody()
            </main>
        </div>
    </section>
    <footer class="border-top py-3 text-muted text-center bg-white mt-5" style="bottom: 0;">
        <div class="container">
            &copy; 2023 - C Sharks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade - C Sharks </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
