@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-success btn-close close-alert" arial-label="Close"> </button>
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-close close-alert" arial-label="Close"> </button>
        @TempData["Error"]
    </div>
}

@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="btn btn-warning btn-close close-alert" arial-label="Close"> </button>
        @TempData["Warning"]
    </div>
}