@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="">
        <img width="65px" src="https://i.imgur.com/wVYsLd0.png" />
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sistema de Nota Fiscal </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow-1 justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Client" asp-action="Index">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Service" asp-action="Index">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Nfe" asp-action="Index">NF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index">Gestão</a>
            </li>
            @*<li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="Exit">Sair</a>
            </li>*@
        </ul>
        <li class="navbar-nav nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bem vindo @TempData["NameUserLogged"]
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Login" asp-action="Exit">Sair</a></li>
            </ul>
        </li>
    </div>
</div>