@using CSharks.NFEs.Domain.Models;
@using CSharks.NFEs.Domain.Enums;
@model Client
@{
    ViewData["Title"] = "Shark NFE - Clientes";
}

<section class="col-8 mx-auto">
    <div class="mt-3">
        @await Html.PartialAsync("_MessageResult")
    </div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nome ou Razão Social</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CpfCnpj" class="control-label">CPF/CNPJ</label>
            <input asp-for="CpfCnpj" class="form-control" />
            <span asp-validation-for="CpfCnpj" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Enrollment" class="control-label">Tipo de Pessoa</label>
            <select asp-for="Enrollment" class="form-control">
                <option value="F">Pessoa Física</option>
                <option value="J">Pessoa Jurídica</option>
                @*<option value="E">Estrangeiro</option>*@
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Informar endereço?</label>
            <input class="form-control" type="checkbox" />
        </div>
        <div class="">
            <div class="form-group">
                <label asp-for="CEP" class="control-label">CEP</label>
                <input asp-for="CEP" class="form-control" />
            </div>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn bg-shark text-white" style="width: 5rem;">Criar</button>
        </div>
    </form>
</section>

@section Scripts {
    <script type="text/javascript">

    </script>
}
